.parent {
    display: grid;
    grid-template: 3fr 1fr 7fr 5fr / 2.5fr 1fr;
    resize: both;
    overflow: auto;

}

.parent header {
    grid-column: 1/3;
}

.parent nav {
    grid-column: 1 / 4;
}

.parent main {
    grid-column: 1 / 2;
}

.parent section {
    grid-column: 2 / 3;
    background-color: brown;
}

.parent footer {
    grid-column: 1/3;
}