body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

body header,
body main,
body footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(196, 193, 193);
    padding: 1rem;
    background-color: #cde8f4;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main section {
    padding: 1rem;
    background-color: #ECF8FE;
}