:root {
    --color-fondo1: #8ECAE6;
    --color-fondo2: #FFB703;
    --color-fondo3: #97DCED;
    --color-fondo4: #FFA033;
    --color-fuente1: #023047;
    --color-fuente2: #522C00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
}

#course-title {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--color-fondo3);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;

}

nav {
    background-color: var(--color-fondo1);
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: var(--color-fuente1);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
    background-color: var(--color-fondo2);
    color: var(--color-fuente2);
}

.active {
    background-color: #FB8500;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

main section {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: start;
    justify-items: center;
    border: 1px solid var(--color-fuente1);
    border-radius: 15px;
    margin: 0 0 1rem 0;
}

main section h2 {
    grid-column: 1/4;
    text-align: center;
    background-color: var(--color-fondo3);
    width: 100%;
    border-radius: 15px 15px 0 0;
}


main section .personpic {
    grid-column: 3/4;
    width: 160px;
    height: 149px;
    margin: 15px;
}

main section .person {
    grid-column: 1/3;
    margin: 0 0 0 15px;
    align-items: center;
}

main section .city {
    grid-column: 2/4;
    margin: 0 15px 0 0;
}

main section .citypic {
    grid-column: 1/2;
    width: 160px;
    height: 149px;
    margin: 15px;
}

main .card2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;

}

footer {
    background-color: var(--color-fondo3);
    padding: 1rem;
}

footer p {
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 640px) {

    main {
        max-width: 95vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;

    }

    main h1 {
        background-color: var(--color-fondo2);
        color: var(--color-fuente2);
        grid-column: 1/3;
        text-align: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
        /* flex: [flex-grow] [flex-shrink] [flex-basis];*/
    }

}