:root {
    --color-fondo1: #8ECAE6;
    --color-fondo2: #FFB703;
    --color-fuente1: #023047;
    --color-fuente2: #522C00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

nav {
    background-color: var(--color-fondo1);
    margin: 0 auto;
    /*max-width: 800px;*/
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: var(--color-fuente1);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
    background-color: var(--color-fondo2);
    color: var(--color-fuente2);
}

.active {
    background-color: #FB8500;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

header span {
    display: block;
}

main {
    max-width: 95vw;
    background-color: #8ECAE6;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
}

main h1 {
    background-color: var(--color-fondo2);
    color: var(--color-fuente2);
    grid-column: 1/3;
    text-align: center;
}

main section {
    background-color: #FFB703;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

main section h2 {
    grid-column: 1/4;
    text-align: center;
}


main section .personpic {
    grid-column: 3/4;
    width: 160px;
    height: 149px;
}

main section .person {
    grid-column: 1/3;
}

main section .city {
    grid-column: 2/4;
}

main section .citypic {
    grid-column: 1/2;
    width: 160px;
    height: 149px;
}

main .card2 {
    background-color: #FFB703;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    padding: 1rem;

}



@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
        /* flex: [flex-grow] [flex-shrink] [flex-basis];

}