:root {
    --color-fondo2: #FFB703;
    --color-fondo3: #97DCED;
    --color-fuente1: #ffffff;
    --color-fuente2: #000000;
    --color-img-backg1: #f0d7ec;
    --color-img-backg2: #36367c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 1440px;

}

header {
    background-color: var(--color-img-backg1);
    padding: 1.2rem;
}

img {
    max-width: 100%;
}

#weather-icon {
    width: 55px;
}

#data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description {
    color: var(--color-fuente2);
    text-align: right;
    padding: 10px;
}

.information {
    text-align: left;
    padding: 10px;
}

#data h2 {
    grid-column: 1/3;
    padding: 1rem;
    margin: 1rem;
}

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather h2 {
    grid-column: 1/3;
    padding: 1rem;
    margin: 1rem;
}

#weather img {
    grid-column: 1/3;
    padding: 10px;
    margin: 0 auto;
    width: 80px;
}

footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-img-backg2);
    color: var(--color-fuente1);
    padding: 1rem;
    width: 100%;
}